# vim: filetype=yaml
# This is a secret file, do not commit it to git
#
# You can use environment variables to store secrets or use this file to store them.

# github:
#   ${GITHUB_TOKEN}
#   token: ...
# hcloud:
#   ${HCLOUD_TOKEN}
#   token: ...
# runners:
#   agent01:
#     ${LOK8S_RUNNER_AGENT01_PASSWORD}
#     password: ...