# vim: filetype=yaml
# This is a secret file, do not commit it to git
# Set these secrets if you want that direnv sets them into your environment.

# GITUHB_TOKEN=...
# HCLOUD_TOKEN=...
# LOK8S_RUNNER_AGENT01_PASSWORD=...